In [1]:
import pandas as pd
import numpy as np
import re

In [2]:
df1= pd.read_csv("_airlines.csv")
df2=pd.read_csv("_reviews.csv",names=['id','id1','sentiment','text'])
df3=pd.read_csv("Sentiment.csv")

In [3]:
df1

,tweet_id,airline_sentiment,airline_sentiment_confidence,negativereason,negativereason_confidence,airline,airline_sentiment_gold,name,negativereason_gold,retweet_count,text,tweet_coord,tweet_created,tweet_location,user_timezone
0,570306133677760513,neutral,1.0000,NaN,NaN,Virgin America,NaN,cairdin,NaN,0,@VirginAmerica What @dhepburn said.,NaN,2015-02-24 11:35:52 -0800,NaN,Eastern Time (US & Canada)
1,570301130888122368,positive,0.3486,NaN,0.0000,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica plus you've added commercials t...,NaN,2015-02-24 11:15:59 -0800,NaN,Pacific Time (US & Canada)
2,570301083672813571,neutral,0.6837,NaN,NaN,Virgin America,NaN,yvonnalynn,NaN,0,@VirginAmerica I didn't today... Must mean I n...,NaN,2015-02-24 11:15:48 -0800,Lets Play,Central Time (US & Canada)
3,570301031407624196,negative,1.0000,Bad Flight,0.7033,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica it's really aggressive to blast...,NaN,2015-02-24 11:15:36 -0800,NaN,Pacific Time (US & Canada)
4,570300817074462722,negative,1.0000,Can't Tell,1.0000,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica and it's a really big bad thing...,NaN,2015-02-24 11:14:45 -0800,NaN,Pacific Time (US & Canada)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14635,569587686496825344,positive,0.3487,NaN,0.0000,American,NaN,KristenReenders,NaN,0,@AmericanAir thank you we got on a different f...,NaN,2015-02-22 12:01:01 -0800,NaN,NaN
14636,569587371693355008,negative,1.0000,Customer Service Issue,1.0000,American,NaN,itsropes,NaN,0,@AmericanAir leaving over 20 minutes Late Flig...,NaN,2015-02-22 11:59:46 -0800,Texas,NaN
14637,569587242672398336,neutral,1.0000,NaN,NaN,American,NaN,sanyabun,NaN,0,@AmericanAir Please bring American Airlines to...,NaN,2015-02-22 11:59:15 -0800,"Nigeria,lagos",NaN
14638,569587188687634433,negative,1.0000,Customer Service Issue,0.6659,American,NaN,SraJackson,NaN,0,"@AmericanAir you have my money, you change my ...",NaN,2015-02-22 11:59:02 -0800,New Jersey,Eastern Time (US & Canada)
14639,569587140490866689,neutral,0.6771,NaN,0.0000,American,NaN,daviddtwu,NaN,0,@AmericanAir we have 8 ppl so we need 2 know h...,NaN,2015-02-22 11:58:51 -0800,"dallas, TX",NaN

In [4]:
df1_cols=['airline_sentiment','text']

In [5]:
df1_cols

['airline_sentiment', 'text']

In [6]:
df1_fin=df1[df1_cols]

In [7]:
df1_fin

      airline_sentiment                                               text
0               neutral                @VirginAmerica What @dhepburn said.
1              positive  @VirginAmerica plus you've added commercials t...
2               neutral  @VirginAmerica I didn't today... Must mean I n...
3              negative  @VirginAmerica it's really aggressive to blast...
4              negative  @VirginAmerica and it's a really big bad thing...
...                 ...                                                ...
14635          positive  @AmericanAir thank you we got on a different f...
14636          negative  @AmericanAir leaving over 20 minutes Late Flig...
14637           neutral  @AmericanAir Please bring American Airlines to...
14638          negative  @AmericanAir you have my money, you change my ...
14639           neutral  @AmericanAir we have 8 ppl so we need 2 know h...

[14640 rows x 2 columns]

In [8]:
df2

,id,id1,sentiment,text
0,2401,Borderlands,Positive,im getting on borderlands and i will murder yo...
1,2401,Borderlands,Positive,I am coming to the borders and I will kill you...
2,2401,Borderlands,Positive,im getting on borderlands and i will kill you ...
3,2401,Borderlands,Positive,im coming on borderlands and i will murder you...
4,2401,Borderlands,Positive,im getting on borderlands 2 and i will murder ...
...,...,...,...,...
74677,9200,Nvidia,Positive,Just realized that the Windows partition of my...
74678,9200,Nvidia,Positive,Just realized that my Mac window partition is ...
74679,9200,Nvidia,Positive,Just realized the windows partition of my Mac ...
74680,9200,Nvidia,Positive,Just realized between the windows partition of...
74681,9200,Nvidia,Positive,Just like the windows partition of my Mac is l...

In [9]:
df2_cols=['sentiment','text']

In [10]:
df2_fin=df2[df2_cols]

In [11]:
df2_fin.dropna(inplace=True)

C:\Users\shaag\AppData\Local\Programs\Python\Python39\lib\site-packages\pandas\util\_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

In [12]:
df2_fin.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 73996 entries, 0 to 74681
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   sentiment  73996 non-null  object
 1   text       73996 non-null  object
dtypes: object(2)
memory usage: 1.7+ MB

In [13]:
df3

,id,candidate,candidate_confidence,relevant_yn,relevant_yn_confidence,sentiment,sentiment_confidence,subject_matter,subject_matter_confidence,candidate_gold,...,relevant_yn_gold,retweet_count,sentiment_gold,subject_matter_gold,text,tweet_coord,tweet_created,tweet_id,tweet_location,user_timezone
0,1,No candidate mentioned,1.0000,yes,1.0000,Neutral,0.6578,None of the above,1.0000,NaN,...,NaN,5,NaN,NaN,RT @NancyLeeGrahn: How did everyone feel about...,NaN,2015-08-07 09:54:46 -0700,629697200650592256,NaN,Quito
1,2,Scott Walker,1.0000,yes,1.0000,Positive,0.6333,None of the above,1.0000,NaN,...,NaN,26,NaN,NaN,RT @ScottWalker: Didn't catch the full #GOPdeb...,NaN,2015-08-07 09:54:46 -0700,629697199560069120,NaN,NaN
2,3,No candidate mentioned,1.0000,yes,1.0000,Neutral,0.6629,None of the above,0.6629,NaN,...,NaN,27,NaN,NaN,RT @TJMShow: No mention of Tamir Rice and the ...,NaN,2015-08-07 09:54:46 -0700,629697199312482304,NaN,NaN
3,4,No candidate mentioned,1.0000,yes,1.0000,Positive,1.0000,None of the above,0.7039,NaN,...,NaN,138,NaN,NaN,RT @RobGeorge: That Carly Fiorina is trending ...,NaN,2015-08-07 09:54:45 -0700,629697197118861312,Texas,Central Time (US & Canada)
4,5,Donald Trump,1.0000,yes,1.0000,Positive,0.7045,None of the above,1.0000,NaN,...,NaN,156,NaN,NaN,RT @DanScavino: #GOPDebate w/ @realDonaldTrump...,NaN,2015-08-07 09:54:45 -0700,629697196967903232,NaN,Arizona
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13866,13867,No candidate mentioned,1.0000,yes,1.0000,Negative,0.7991,Abortion,0.6014,No candidate mentioned,...,yes,7,Negative,Abortion\nWomen's Issues (not abortion though),RT @cappy_yarbrough: Love to see men who will ...,NaN,2015-08-07 09:29:43 -0700,629690895479250944,Como,NaN
13867,13868,Mike Huckabee,0.9611,yes,1.0000,Positive,0.7302,None of the above,0.9229,Mike Huckabee,...,yes,1,NaN,NaN,RT @georgehenryw: Who thought Huckabee exceede...,NaN,2015-08-07 09:25:02 -0700,629689719056568320,USA,NaN
13868,13869,Ted Cruz,1.0000,yes,1.0000,Positive,0.8051,None of the above,0.9647,Ted Cruz,...,yes,67,Positive\nNeutral,NaN,"RT @Lrihendry: #TedCruz As President, I will a...",NaN,2015-08-07 07:19:18 -0700,629658075784282112,NaN,NaN
13869,13870,Donald Trump,1.0000,yes,1.0000,Negative,1.0000,Women's Issues (not abortion though),0.9202,Donald Trump,...,yes,149,NaN,Women's Issues (not abortion though),RT @JRehling: #GOPDebate Donald Trump says tha...,NaN,2015-08-07 09:54:04 -0700,629697023663546368,NaN,NaN
13870,13871,Ted Cruz,0.9242,yes,0.9614,Positive,0.9614,None of the above,0.9242,Ted Cruz,...,yes,65,Positive,NaN,RT @Lrihendry: #TedCruz headed into the Presid...,NaN,2015-08-06 18:22:27 -0700,629462573641920512,"San Antonio, TX",Central Time (US & Canada)

In [14]:
df3_cols=['sentiment','text']

In [15]:
df3_fin=df3[df3_cols]

In [16]:
df3_fin

      sentiment                                               text
0       Neutral  RT @NancyLeeGrahn: How did everyone feel about...
1      Positive  RT @ScottWalker: Didn't catch the full #GOPdeb...
2       Neutral  RT @TJMShow: No mention of Tamir Rice and the ...
3      Positive  RT @RobGeorge: That Carly Fiorina is trending ...
4      Positive  RT @DanScavino: #GOPDebate w/ @realDonaldTrump...
...         ...                                                ...
13866  Negative  RT @cappy_yarbrough: Love to see men who will ...
13867  Positive  RT @georgehenryw: Who thought Huckabee exceede...
13868  Positive  RT @Lrihendry: #TedCruz As President, I will a...
13869  Negative  RT @JRehling: #GOPDebate Donald Trump says tha...
13870  Positive  RT @Lrihendry: #TedCruz headed into the Presid...

[13871 rows x 2 columns]

In [17]:
df1_fin['sentiment']=df1_fin['airline_sentiment']

C:\Users\shaag\AppData\Local\Temp/ipykernel_13928/2550763281.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1_fin['sentiment']=df1_fin['airline_sentiment']

In [18]:
df1_fin.drop('airline_sentiment',axis=1,inplace=True)

C:\Users\shaag\AppData\Local\Programs\Python\Python39\lib\site-packages\pandas\core\frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [19]:
df2_fin

      sentiment                                               text
0      Positive  im getting on borderlands and i will murder yo...
1      Positive  I am coming to the borders and I will kill you...
2      Positive  im getting on borderlands and i will kill you ...
3      Positive  im coming on borderlands and i will murder you...
4      Positive  im getting on borderlands 2 and i will murder ...
...         ...                                                ...
74677  Positive  Just realized that the Windows partition of my...
74678  Positive  Just realized that my Mac window partition is ...
74679  Positive  Just realized the windows partition of my Mac ...
74680  Positive  Just realized between the windows partition of...
74681  Positive  Just like the windows partition of my Mac is l...

[73996 rows x 2 columns]

In [20]:
df1_fin

                                                    text sentiment
0                    @VirginAmerica What @dhepburn said.   neutral
1      @VirginAmerica plus you've added commercials t...  positive
2      @VirginAmerica I didn't today... Must mean I n...   neutral
3      @VirginAmerica it's really aggressive to blast...  negative
4      @VirginAmerica and it's a really big bad thing...  negative
...                                                  ...       ...
14635  @AmericanAir thank you we got on a different f...  positive
14636  @AmericanAir leaving over 20 minutes Late Flig...  negative
14637  @AmericanAir Please bring American Airlines to...   neutral
14638  @AmericanAir you have my money, you change my ...  negative
14639  @AmericanAir we have 8 ppl so we need 2 know h...   neutral

[14640 rows x 2 columns]

In [21]:
df3_fin

      sentiment                                               text
0       Neutral  RT @NancyLeeGrahn: How did everyone feel about...
1      Positive  RT @ScottWalker: Didn't catch the full #GOPdeb...
2       Neutral  RT @TJMShow: No mention of Tamir Rice and the ...
3      Positive  RT @RobGeorge: That Carly Fiorina is trending ...
4      Positive  RT @DanScavino: #GOPDebate w/ @realDonaldTrump...
...         ...                                                ...
13866  Negative  RT @cappy_yarbrough: Love to see men who will ...
13867  Positive  RT @georgehenryw: Who thought Huckabee exceede...
13868  Positive  RT @Lrihendry: #TedCruz As President, I will a...
13869  Negative  RT @JRehling: #GOPDebate Donald Trump says tha...
13870  Positive  RT @Lrihendry: #TedCruz headed into the Presid...

[13871 rows x 2 columns]

In [22]:
df_list=[df1_fin,df2_fin,df3_fin]

In [23]:
df=pd.concat(df_list)

In [24]:
df.dropna(inplace=True)

In [25]:
df.reset_index(drop=True)

                                                     text sentiment
0                     @VirginAmerica What @dhepburn said.   neutral
1       @VirginAmerica plus you've added commercials t...  positive
2       @VirginAmerica I didn't today... Must mean I n...   neutral
3       @VirginAmerica it's really aggressive to blast...  negative
4       @VirginAmerica and it's a really big bad thing...  negative
...                                                   ...       ...
102502  RT @cappy_yarbrough: Love to see men who will ...  Negative
102503  RT @georgehenryw: Who thought Huckabee exceede...  Positive
102504  RT @Lrihendry: #TedCruz As President, I will a...  Positive
102505  RT @JRehling: #GOPDebate Donald Trump says tha...  Negative
102506  RT @Lrihendry: #TedCruz headed into the Presid...  Positive

[102507 rows x 2 columns]

In [26]:
#since this is a tweet we have to remove the tags as an stopword
import nltk
nltk.download('stopwords')
nltk.download('punkt')
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\shaag\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\shaag\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [27]:
df['sentiment'].unique()

array(['neutral', 'positive', 'negative', 'Positive', 'Neutral',
       'Negative', 'Irrelevant'], dtype=object)

In [28]:
df['sentiment']=df['sentiment'].replace("neutral","Neutral")
df['sentiment']=df['sentiment'].replace("positive","Positive")
df['sentiment']=df['sentiment'].replace("negative","Negative")
df['sentiment']=df['sentiment'].replace("Irrelevant",np.nan)

In [29]:
df.dropna(inplace=True)

In [30]:
names=['delta', 'deltaair', 'united', 'unitedair', 'southwest', 'southwestair', 'usairways',
         'virginamerica', 'american', 'americanair', 'jetblue', 'jetblues', 'usairway',
         'flight', 'airline', 'airlines','rt','said']

In [31]:
def clean_data(x):
    text=x
    
    text = text.lower()
    text = re.sub('\[.*?\]', '', text) # remove square brackets
    text = re.sub(r'[^\w\s]','',text) # remove punctuation
    text = re.sub('\w*\d\w*', '', text) # remove words containing numbers
    text = re.sub('\n', '', text)
    return text
def clean_stopword(d):
    stop_words = stopwords.words('english')
    for name in names:
        stop_words.append(name)
    return " ".join([w.lower() for w in d.split() if w.lower() not in stop_words and len(w) > 1])

def tokenize(d):
    return word_tokenize(d)

In [32]:
df['final_text']=df.text.apply(clean_data).apply(clean_stopword).apply(tokenize)

In [33]:
df.drop('text',axis=1,inplace=True)

In [34]:
df_fin=df.reset_index(drop=True)

In [35]:
df_fin

      sentiment                                         final_text
0       Neutral                                         [dhepburn]
1      Positive  [plus, youve, added, commercials, experience, ...
2       Neutral  [didnt, today, must, mean, need, take, another...
3      Negative  [really, aggressive, blast, obnoxious, enterta...
4      Negative                          [really, big, bad, thing]
...         ...                                                ...
89627  Negative  [cappy_yarbrough, love, see, men, never, faced...
89628  Positive  [georgehenryw, thought, huckabee, exceeded, ex...
89629  Positive  [lrihendry, tedcruz, president, always, tell, ...
89630  Negative  [jrehling, gopdebate, donald, trump, says, doe...
89631  Positive  [lrihendry, tedcruz, headed, presidential, deb...

[89632 rows x 2 columns]

In [36]:
df_fin['final_text'] = df_fin.final_text.apply(lambda x: ', '.join([str(i) for i in x]))

In [37]:
df_fin

      sentiment                                         final_text
0       Neutral                                           dhepburn
1      Positive  plus, youve, added, commercials, experience, t...
2       Neutral  didnt, today, must, mean, need, take, another,...
3      Negative  really, aggressive, blast, obnoxious, entertai...
4      Negative                            really, big, bad, thing
...         ...                                                ...
89627  Negative  cappy_yarbrough, love, see, men, never, faced,...
89628  Positive  georgehenryw, thought, huckabee, exceeded, exp...
89629  Positive  lrihendry, tedcruz, president, always, tell, t...
89630  Negative  jrehling, gopdebate, donald, trump, says, does...
89631  Positive  lrihendry, tedcruz, headed, presidential, deba...

[89632 rows x 2 columns]

In [38]:
def sentiments(sentimento):
    if sentimento == "Positive":
        return 2
    elif sentimento == "Neutral":
        return 1
    elif sentimento == "Negative":
        return 0

# Applying the feeling function
df_fin.sentiment = df_fin.sentiment.apply(lambda x: sentiments(x))
print("Sentimentos:", df_fin.sentiment)

Sentimentos: 0        1
1        2
2        1
3        0
4        0
        ..
89627    0
89628    2
89629    2
89630    0
89631    2
Name: sentiment, Length: 89632, dtype: int64

In [39]:
X=df_fin.final_text
y=df_fin.sentiment

In [40]:
X

0                                                 dhepburn
1        plus, youve, added, commercials, experience, t...
2        didnt, today, must, mean, need, take, another,...
3        really, aggressive, blast, obnoxious, entertai...
4                                  really, big, bad, thing
                               ...
89627    cappy_yarbrough, love, see, men, never, faced,...
89628    georgehenryw, thought, huckabee, exceeded, exp...
89629    lrihendry, tedcruz, president, always, tell, t...
89630    jrehling, gopdebate, donald, trump, says, does...
89631    lrihendry, tedcruz, headed, presidential, deba...
Name: final_text, Length: 89632, dtype: object

In [41]:
y

0        1
1        2
2        1
3        0
4        0
        ..
89627    0
89628    2
89629    2
89630    0
89631    2
Name: sentiment, Length: 89632, dtype: int64

In [55]:
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import MultinomialNB 
from sklearn.metrics import accuracy_score
import joblib

In [45]:
c = CountVectorizer()
X_c = c.fit_transform(X)

tf = TfidfVectorizer()
X_tf = tf.fit_transform(X)

In [46]:
X_train,X_test,y_train,y_test=train_test_split(X_c,y,random_state=30,test_size=0.2)

In [47]:
X_train1,X_test1,y_train1,y_test1=train_test_split(X_tf,y,random_state=30,test_size=0.2)

In [49]:
model_params = {'random_state':42}


LR=LogisticRegression()
MNB=MultinomialNB()

print("tfidf")
print(accuracy_score(LR.fit(X_train,y_train).predict(X_test),y_test))
print(accuracy_score(MNB.fit(X_train,y_train).predict(X_test),y_test))

In [68]:
MNB.fit(X_train,y_train)

MultinomialNB()

print("CV")
print(accuracy_score(LR.fit(X_train1,y_train1).predict(X_test1),y_test1))
print(accuracy_score(MNB.fit(X_train1,y_train1).predict(X_test1),y_test1))

In [69]:
joblib.dump(tf,'TFIDF')
joblib.dump(MNB,'model')

['model']

In [60]:
X_test1

<17927x44531 sparse matrix of type '<class 'numpy.float64'>'
	with 169133 stored elements in Compressed Sparse Row format>

In [61]:
X_train

<71705x44531 sparse matrix of type '<class 'numpy.int64'>'
	with 686005 stored elements in Compressed Sparse Row format>

In [71]:
X_test

<17927x44531 sparse matrix of type '<class 'numpy.int64'>'
	with 169133 stored elements in Compressed Sparse Row format>